<!doctype html>
<html class='h-full w-full'>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ title }}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/public/css/tailwind.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <meta name="description" content="A beautiful, online alternative to the popular Exploding Kittens card game (just with chickens). Who will be the last one standing?" />
    <link rel="apple-touch-icon" sizes="180x180" href="/public/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon/favicon-16x16.png">
    <link rel="manifest" href="/public/favicon/site.webmanifest">
    <link rel="canonical" href="https://chickens.rakerman.com/" />
    <meta name="referrer" content="no-referrer-when-downgrade" />
    <meta property="og:site_name" content="Exploding Chickens" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Exploding Chickens" />
    <meta property="og:description" content="A beautiful, online alternative to the popular Exploding Kittens card game (just with chickens). Who will be the last one standing?" />
    <meta property="og:url" content="https://chickens.rakerman.com/" />
    <meta property="og:image" content="https://chickens.rakerman.com/public/home_ui.png" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="440" />
    <style>
        .center-card {
            width: 10.2rem;
            height: 14.4rem;
            border-radius: 1.6rem;
        }
    </style>
</head>
<body class="leading-normal tracking-normal text-indigo-400 m-6 bg-cover bg-fixed" style="background-image: url('/public/home_back.jpg');background-color: #0f0f0f;">
<div class="h-full">
    {{! Header }}
    <div class="w-full container mx-auto">
        <div class="w-full flex items-center justify-between">
            <div class="flex-shrink-0">
                <h1 class="h-8 text-4xl text-white opacity-80" style="font-family: Bebas Neue"><a class="text-yellow-400">EXPLODING</a> PIGS</h1>
            </div>
        </div>
    </div>
    {{! Landing Text }}
    <div class="container pt-24 md:pt-56 mx-auto flex flex-wrap flex-col md:flex-row items-center">
        <div class="flex flex-col w-full xl:w-2/5 justify-center lg:items-start overflow-y-hidden">
            <h1 class="my-4 text-4xl md:text-5xl text-white opacity-80 font-bold leading-tight text-left">
                Pigs 
                <span class="block sm:inline-block">
                    Oink-Oink
                    <span class="bg-clip-text text-transparent bg-gradient-to-r from-red-600 via-red-500 to-yellow-500">
                        Boom!
                    </span>
                </span>
            </h1>
            <div class="flex flex-wrap space-y-4 sm:space-y-0 sm:space-x-4 text-center">
                <form class="pr-3 mb-3" action="/game/create" method="POST" enctype="application/x-www-form-urlencoded">
                    <button type="submit" class="w-auto sm:h-14 h-12 flex-none bg-yellow-500 hover:bg-yellow-600 text-gray-100 text-lg font-semibold px-6 border border-transparent rounded-xl focus:outline-none transition-colors duration-200">
                        เริ่มเกม
                    </button>
                </form>
                <div class="bg-transparent" style="margin-left: 0; margin-top: 0">
                    <div class="container flex justify-center items-center">
                        <div class="relative">
                            <div class="absolute sm:top-4 top-3 left-3">
                                <i class="fa fa-search text-gray-400 z-20 hover:text-gray-400"></i>
                            </div>
                            <input type="text" id="game_slug" class="sm:h-14 h-12 sm:w-96 w-80 pl-9 pr-20 rounded-xl text-lg z-0 bg-transparent text-gray-100 border-2 border-gray-500 focus:outline-none" placeholder="ใส่โค้ด เพื่อเข้าร่วมเกม...">
                            <div class="absolute top-0 right-0">
                                <button class="sm:h-14 h-12 w-28 text-gray-100 font-semibold rounded-r-xl border-2 border-gray-500 bg-red-600 hover:bg-red-700 focus:outline-none" onclick="join_game()">เข้าร่วมเกม</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{! UI Demo }}
        <div class="w-full xl:w-3/5 p-2 sm:p-6 pt-20 overflow-hidden">
            <img class="mx-auto w-full md:w-11/12 transform -rotate-6 transition hover:scale-105 duration-700 ease-in-out hover:-rotate-3" src="/public/game_ui.png" />
        </div>
        {{! How to Play }}
        <div class="flex flex-col w-full justify-center overflow-y-hidden pt-20">
            <h1 class="my-4 text-4xl md:text-5xl text-white opacity-80 font-bold leading-tight text-left">
                วิธีการ <span class="bg-clip-text text-transparent bg-gradient-to-r from-red-600 via-red-500 to-yellow-500">เล่น</span>
            </h1>
            <p class="leading-normal text-white opacity-80 text-lg md:text-2xl mb-8 text-left">
                กฎเหล็กการเล่นง่ายๆ คือห้ามโดนระเบิด
            </p>
        </div>
        {{! How to Play: Game Structure }}
        <div class="flex flex-col w-full justify-center overflow-y-hidden pt-2 pb-5">
            <p class="leading-normal text-white opacity-80 text-2xl md:text-3xl text-left">
                รูปแบบการเล่น
            </p>
            <p class="leading-normal text-white opacity-60 text-lg md:text-2xl pt-1.5 text-left">
                รองรับผู้เล่นได้ตั้งแต่ 2-5คน
            </p>
        </div>
        <div class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
            <div class="flex">
                <div class="flex-shrink-0">
                    <h1 class="px-6 text-6xl text-white opacity-80 font-bold leading-tight text-left">
                        <span class="bg-clip-text text-transparent bg-gradient-to-r from-red-600 via-red-500 to-yellow-500">1</span>
                    </h1>
                </div>
                <div class="ml-4">
                    <dt class="text-lg text-white opacity-80">
                        ความเข้าใจพื้นฐานเกี่ยวกับเกม
                    </dt>
                    <dd class="mt-2 text-base text-white opacity-60">
                        Exploding Pigs เป็นเกมไพ่ที่ใช้โชคและกลยุทธ์ ตลอดเวลาทั้งเกม คุณจะจั่วไพ่จากสำรับซึ่งสามารถได้รับชัยชนะหรือนำไปสู่การโดนระเบิด การ์ดแอคชั่นช่วยให้คุณได้เปรียบเหนือคู่ต่อสู้ แต่ระวังการ์ด Exploding Pigs ที่อันตรายนั้นก็ซ่อนอยู่ในส่วนผสมด้วย
                    </dd>
                </div>
            </div>
            <div class="flex">
                <div class="flex-shrink-0">
                    <h1 class="px-6 text-6xl text-white opacity-80 font-bold leading-tight text-left">
                        <span class="bg-clip-text text-transparent bg-gradient-to-r from-red-600 via-red-500 to-yellow-500">2</span>
                    </h1>
                </div>
                <div class="ml-4">
                    <dt class="text-lg text-white opacity-80">
                        ในรอบตาของคุณ
                    </dt>
                    <dd class="mt-2 text-base text-white opacity-60">
                        เมื่อเริ่มเทิร์นของคุณ คุณสามารถเล่นการ์ดแอคชั่นได้มาก (หรือน้อย) เท่าที่คุณต้องการนั่น ตราบเท่าที่สถานการณ์เอื้ออำนวย เพียงทำตามคำแนะนำด้านล่างเกี่ยวกับวิธีการเล่นการ์ดแอคชั่นแต่ละใบ และจบเทิร์นของคุณด้วยการจั่วการ์ดจากเด็ด
                    </dd>
                </div>
            </div>
            <div class="flex">
                <div class="flex-shrink-0">
                    <h1 class="px-6 text-6xl text-white opacity-80 font-bold leading-tight text-left">
                        <span class="bg-clip-text text-transparent bg-gradient-to-r from-red-600 via-red-500 to-yellow-500">3</span>
                    </h1>
                </div>
                <div class="ml-4">
                    <dt class="text-lg text-white opacity-80">
                        เมื่อจั่วได้การ์ดหมูระเบิดหรือ Exploding Pigs 
                    </dt>
                    <dd class="mt-2 text-base text-white opacity-60">
                        เมื่อคุณจั่วได้การ์ด Exploding Pigs คุณจะมี 2ทางเลือก คือกลบเกลื่อนระเบิดเวลาโดยใช้การ์ดกู้ระเบิด (Defuse) หรือบอกลาโอกาสในการชนะ จำนวนหมูระเบิดจะน้อยกว่าจำนวนผู้เล่นที่ยังมีชีวิตอยู่เสมอ
                    </dd>
                </div>
            </div>
            <div class="flex">
                <div class="flex-shrink-0">
                    <h1 class="px-6 text-6xl text-white opacity-80 font-bold leading-tight text-left">
                        <span class="bg-clip-text text-transparent bg-gradient-to-r from-red-600 via-red-500 to-yellow-500">4</span>
                    </h1>
                </div>
                <div class="ml-4">
                    <dt class="text-lg text-white opacity-80">
                        Winner Winner Pigs Dinner
                    </dt>
                    <dd class="mt-2 text-base text-white opacity-60">
                        การชนะเกมนั้นค่อนข้างง่าย ใช้การ์ดอะไรก็ได้ตามที่คุณต้องการ ร่วมกับกลยุทธ์ เพื่อเป็นคนสุดท้ายที่ยังมีชีวิตอยู่ หลังจากที่คุณได้เห็นเพื่อนของคุณโดนการ์ดหมูระเบิดจนหมด ของแสดงความยินดีด้วย! คุณได้ชนะในเกมนี้
                    </dd>
                </div>
            </div>
        </div>
        {{! How to Play: Base Card Pack }}
        <div class="flex flex-col w-full justify-center overflow-y-hidden pt-10 pb-5">
            <p class="leading-normal text-white opacity-80 text-2xl md:text-3xl text-left">
                การ์ดแอคชั่นที่มี
            </p>
        </div>
        <div class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 xl:grid-cols-3 md:gap-x-8 md:gap-y-10">
            <div class="flex">
                <div class="flex-shrink-0">
                    <div class="rounded-xl shadow-lg center-card bg-center bg-contain mx-1" style="background-image: url('/public/cards/base/chicken.png');"></div>
                </div>
                <div class="ml-4">
                    <dt class="text-xl text-white opacity-80">
                        The <span class="bg-clip-text text-transparent bg-gradient-to-r from-red-600 via-red-500 to-yellow-500">Exploding</span> Pigs <i class="opacity-30 text-lg">x1-4</i>
                    </dt>
                    <dd class="mt-2 text-base text-white opacity-60">
                        การ์ดหมูระเบิด เมื่อผู้เล่นจั่วได้การ์ดหมูระเบิด การ์ดหมูระเบิดที่จั่วได้จะแสดงผลให้ผู้เล่นอื่นเห็น และผู้เล่นที่จั่วได้ จะมีเวลาในการกู้ระเบิด 15 วินาที หากผู้เล่นไม่ใช้การ์ดกู้ระเบิดหรือไม่มีการ์ดกู้ระเบิด ผู้เล่นจะแพ้ในเกมนั้นทันที
                    </dd>
                </div>
            </div>
            <div class="flex">
                <div class="flex-shrink-0">
                    <div class="rounded-xl shadow-lg center-card bg-center bg-contain mx-1" style="background-image: url('/public/cards/base/defuse-1.png');"></div>
                </div>
                <div class="ml-4">
                    <dt class="text-xl text-white opacity-80">
                        Defuse <i class="opacity-30 text-lg">x6</i>
                    </dt>
                    <dd class="mt-2 text-base text-white opacity-60">
                        การ์ดกู้ระเบิด สามารถใช้ได้เมื่อผู้เล่นจั่วได้การ์ดหมูระเบิดเท่านั้น เมื่อผู้เล่นใช้การ์ดกู้ระเบิดแล้ว จะต้องนำการ์ดหมูระเบิดที่ได้ใส่กลับเข้าไปในส่วนใดก็ได้ของกองการ์ด จึงจะทำให้ผู้เล่นจะสามารถเล่นต่อในรอบถัดไปได้
                    </dd>
                </div>
            </div>
            <div class="flex">
                <div class="flex-shrink-0">
                    <div class="rounded-xl shadow-lg center-card bg-center bg-contain mx-1" style="background-image: url('/public/cards/base/attack-3.png');"></div>
                </div>
                <div class="ml-4">
                    <dt class="text-xl text-white opacity-80">
                        Attack <i class="opacity-30 text-lg">x4</i>
                    </dt>
                    <dd class="mt-2 text-base text-white opacity-60">
                        การ์ดโจมตี สามารถใช้การ์ดดังกล่าวกับผู้เล่นที่จะเล่นในรอบถัดไป โดยผู้เล่นที่โดนความสามรถของการ์ดโจมตีจะต้องจั่วการ์ดจากกอง 2ใบ
                    </dd>
                </div>
            </div>
            <div class="flex">
                <div class="flex-shrink-0">
                    <div class="rounded-xl shadow-lg center-card bg-center bg-contain mx-1" style="background-image: url('/public/cards/base/seethefuture-4.png');"></div>
                </div>
                <div class="ml-4">
                    <dt class="text-xl text-white opacity-80">
                        See the Future <i class="opacity-30 text-lg">x5</i>
                    </dt>
                    <dd class="mt-2 text-base text-white opacity-60">
                        การ์ดมองเห็นอนาคต สามารถใช้ดูการ์ด 3 ใบแรกของกองการ์ด เป็นเวลา 5 วินาที จากนั้นนำกลับเข้ากองการ์ดตามเดิม
                    </dd>
                </div>
            </div>
            <div class="flex">
                <div class="flex-shrink-0">
                    <div class="rounded-xl shadow-lg center-card bg-center bg-contain mx-1" style="background-image: url('/public/cards/base/skip-3.png');"></div>
                </div>
                <div class="ml-4">
                    <dt class="text-xl text-white opacity-80">
                        Skip <i class="opacity-30 text-lg">x4</i>
                    </dt>
                    <dd class="mt-2 text-base text-white opacity-60">
                        การ์ดข้ามผู้เล่นสามารถใช้การ์ดข้าม เพื่อข้ามการจั่วการ์ดในรอบของตนเอง
                    </dd>
                </div>
            </div>
            <div class="flex">
                <div class="flex-shrink-0">
                    <div class="rounded-xl shadow-lg center-card bg-center bg-contain mx-1" style="background-image: url('/public/cards/base/reverse-1.png');"></div>
                </div>
                <div class="ml-4">
                    <dt class="text-xl text-white opacity-80">
                        Reverse <i class="opacity-30 text-lg">x4</i>
                    </dt>
                    <dd class="mt-2 text-base text-white opacity-60">
                        การ์ดย้อนกลับ เปลี่ยนทิศทางการเล่นเกมการ์ดโดยหมุนวนไปอีกทาง
                    </dd>
                </div>
            </div>
            <div class="flex">
                <div class="flex-shrink-0">
                    <div class="rounded-xl shadow-lg center-card bg-center bg-contain mx-1" style="background-image: url('/public/cards/base/shuffle-1.png');"></div>
                </div>
                <div class="ml-4">
                    <dt class="text-xl text-white opacity-80">
                        Shuffle <i class="opacity-30 text-lg">x4</i>
                    </dt>
                    <dd class="mt-2 text-base text-white opacity-60">
                        การ์ดสับกอง สามารถสับกองการ์ดได้ทั้งสำรับ
                    </dd>
                </div>
            </div>
            <div class="flex">
                <div class="flex-shrink-0">
                    <div class="rounded-xl shadow-lg center-card bg-center bg-contain mx-1" style="background-image: url('/public/cards/base/favor-1.png');"></div>
                </div>
                <div class="ml-4">
                    <dt class="text-xl text-white opacity-80">
                        Favor <i class="opacity-30 text-lg">x4</i>
                    </dt>
                    <dd class="mt-2 text-base text-white opacity-60">
                        การ์ดขอ สามารถขอการ์ดจากผู้เล่นอื่น 1 ใบ โดยการสุ่มการ์ดจากผู้เล่นที่ถูกเลือก
                    </dd>
                </div>
            </div>
            <div class="flex">
                <div class="flex-shrink-0">
                    <div class="rounded-xl shadow-lg center-card bg-center bg-contain mx-1" style="background-image: url('/public/cards/base/randchick-1.png');"></div>
                </div>
                <div class="ml-4">
                    <dt class="text-xl text-white opacity-80">
                        Random Pigs <i class="opacity-30 text-lg">x4(4)</i>
                    </dt>
                    <dd class="mt-2 text-base text-white opacity-60">
                        การ์ดสุ่มหมู การ์ดใบนี้จะมีความสามารถเมื่อมี 2 ใบ ทำให้ผู้เล่นสามารถสุ่มการ์ดจากผู้เล่นอื่นได้ 1 ใบ หากผู้เล่นมีการ์ดสุ่มหมูเพียง 1 ใบ จะไม่สามารถสุ่มการ์ดจากผู้เล่นอื่นได้
                    </dd>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.0"></script>
<script src="/public/js/home.js"></script>
</html>